


%icon { 
    background-image: -webkit-image-set(url(~@/assets/img/sprites/common@1x.png?v=c0e6a) 1x,url(~@/assets/img/sprites/common@2x.png?v=8536d) 2x);
    background-size: 31px 30px; 
}

%icon-360{
    width: 31px; 
    height: 16px; 
    background-position: 0px 0px;
}
                
%icon-advance{
    width: 12px; 
    height: 12px; 
    background-position: 0px -18px;
}
                