.ico { 
                display: inline-block; 
                background-image: url(../images/sprites/home.png); 
                background-size: 90px 60px; 
            } 
                    .ico-authority-sm{
                    width: 28px; 
                    height: 28px; 
                    background-position: -62px 0px;
                    }
                 
                    .ico-authority{
                    width: 60px; 
                    height: 60px; 
                    background-position: 0px 0px;
                    }
                