.ico { 
                display: inline-block; 
                background-image: url(../images/sprites/common.png); 
                background-size: 136px 86px; 
            } 
                    .ico-logo{
                    width: 48px; 
                    height: 48px; 
                    background-position: -88px 0px;
                    }
                 
                    .ico-top{
                    width: 86px; 
                    height: 86px; 
                    background-position: 0px 0px;
                    }
                